# Server settings
HOST="localhost"
PORT=7200

# Application settings
NUXT_USAGIPASS_BASE_URL="http://localhost:7200"
NUXT_USAGIPASS_DATABASE_URL="postgresql://postgres:password@localhost:5432/usagipass"

# MITM Proxy settings
NUXT_MITMPROXY_ENABLED=true
NUXT_MITMPROXY_LISTEN_HOST=127.0.0.1
NUXT_MITMPROXY_LISTEN_PORT=7300

# Third party settings (Do not change if you don't know what you are doing)
NUXT_LEPORID_BASE_URL=http://127.0.0.1:8100
NUXT_OTOGE_BASE_URL=http://127.0.0.1:8200
NUXT_PUBLIC_IMAGE_URL=https://uc.turou.fun/api/images
NUXT_PUBLIC_IMAGE_PREVIEW_URL=https://uc.turou.fun/api/images