@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SEGA_MARUGOTHICDB";
    src: url("./SEGAMaruGothicDB.woff2");
}

.font-sega {
    font-family: "SEGA_MARUGOTHICDB";
}

html, body {
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

button, a, .clickable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p, span, div, input, textarea, [contenteditable] {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}