@import "tailwindcss";
@plugin "daisyui" {
  exclude: properties;
};

@font-face {
  font-family: "SEGA_MARUGOTHICDB";
  src: url("../fonts/SEGAMaruGothicDB.woff2");
}

.font-sega {
  font-family: "SEGA_MARUGOTHICDB";
}
